


@media (prefers-color-scheme: dark) {
  *   { background:  black; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  *  { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}

.m-auto {
  display: flex;
}

.mat-tab-header {
  position: relative;
  width: fit-content;
  border: 1px solid #c1c1c159;
  border-radius: 8px 8px 0 0 ;
  overflow: hidden;
}

.mat-tab-root {
  display: flex;
}

.mat-tab-root .mat-tab-item {
  padding: 16px 35px;
  cursor: pointer;
  user-select: none;
  transitioN: .5s;
}
.mat-tab-root .mat-tab-item.active {

  color: deeppink;
}

.mat-ink-bar {
  position: absolute;
  height: 2px;
  background-color: deeppink;
  bottom: 0;
   /* transition: 500ms cubic-bezier(0.35, 0, 0.25, 1); */
  transition: all 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.tab-body {
  border-left: 1px solid #c1c1c159;
  border-bottom: 1px solid #c1c1c159;
  border-right: 1px solid #c1c1c159;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  padding: 10px;
}
.tab-body * {
  background-color: unset;

}
.tab-translate {
  display: flex;
}
.tab-body-content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  width: inherit;
  padding: 10px;
  min-height: 400px;
}

