html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 50px auto;
}
.menu-item {
  margin: 0 25px;
}
.menu-link {
  display: inline-block;
  position: relative;
  padding: 5px 12px;
}
.line-effect {
  width: 0;
  height: 2px;
  background-color: #7C3AED;
  position: fixed;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(.1,.74,.52,.25);
}
/* .menu-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d6ef7;
  opacity: 0;
  visibility: hidden;
}
.menu-link:hover:before {
  opacity: 1;
  visibility: visible;
} */


@media (prefers-color-scheme: dark) {
  *   { background:  black; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  *  { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}

.m-auto {
  display: flex;
  justify-content: center;
}

.mat-tab-group {
  position: relative;
  width: fit-content;
}

.mat-tab-root {
  display: flex;
}

.mat-tab-root .mat-tab-item {
  padding: 16px 35px;
  cursor: pointer;
  user-select: none;
  transitioN: .5s;
}
.mat-tab-root .mat-tab-item.active {

  color: deeppink;
}

.mat-ink-bar {
  position: absolute;
  height: 2px;
  background-color: deeppink;
  bottom: 0;
   /* transition: 500ms cubic-bezier(0.35, 0, 0.25, 1); */
  transition: all 500ms cubic-bezier(.49,.01,1,.52);
}